<div><img id="mainImg" src="/images/header11.jpg"></div>


<div class="catalog-boys">

    <h1>CATALOG | <span>Girls</span></h1>


    <button class="catalog-boys-category" ng-click="g_d = !g_d "> >Demi-Season
        </button>
        <div ng-show="g_d">
            <a href="#" ng-click="g_d_3piece = !b_g_3piece "> >Demi-Season 3 Piece Set</a>
            
            <div ng-show="g_d_3piece">
                
            </div>
            
            <a href="#" ng-click="g_d_jacket = !g_d_jacket "> >Demi-Season Jackets</a>
            <div ng-show="g_d_jackets">J</div>
            
            <a href="#" ng-click="g_d_1piece = !g_d_1piece "> >Demi-Season One-Piece Set</a>
            <div ng-show="g_d_1piece">1</div>
            
            <a href="#" ng-click="g_d_pants = !g_d_pants "> >Demi-Season Pants</a>
            <div ng-show="g_d_pants">P</div>
            
            <a href="#" ng-click="g_termo= !g_termo "> >Termo</a>
            <div ng-show="g_termo">T</div>
            
        </div>
        
        
        <button class="catalog-boys-category" ng-click="g_w = !g_w "> >Winter
        </button>
        
        <div ng-show="g_w">
            <a href="#" ng-click="g_w_3piece = !g_w_3piece"> >Winter 3 Piece Set</a>
            <div ng-show="g_w_3piece"></div>
            
            <a href="#" ng-click="g_w_jacket = !g_w_jacket"> >Winter Jackets</a>
            <div ng-show="g_w_jacket"></div>
            
            <a href="#" ng-click="g_w_1piece = !g_w_1piece"> >Winter One-Piece Set</a>
            <div ng-show="g_w_1piece"></div>
            
            <a href="#" ng-click="g_coat = !g_coat"> >Winter Coats</a>
            <div ng-show="g_coat"></div>
            
            
        </div>
    



</div>