<div><img id="mainImg" src="/images/header7.jpg"></div>

<button class="catalog-boys-category" ng-click="hats = !hats "> >Demi-Season
        </button>
<div ng-show="hats"></div>

<button class="catalog-boys-category" ng-click="mittens = !mittens "> >Demi-Season
        </button>
<div ng-show="mittens"></div>

<button class="catalog-boys-category" ng-click="buff=!buff"> >Demi-Season
        </button>
<div ng-show="buff"></div>


<button class="catalog-boys-category" ng-click="buff_hats=!buff_hats"> >Demi-Season
        </button>
<div ng-show="buff_hats"></div>


